@import "colors.less";
@import "variables.less";
@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);


body {
    background-color: #CCCECF;
}

.app {
    width: 100%;
    overflow: hidden;
    background-color: #7db78d;
}
.navbar {
    // background-color: transparent;
}
.welcome {
    height: 100%;
}
p {
    padding: 2em 0;
    font-family: Raleway;
    font-size: 1.2em;
    color: #f1f1f1;
}
.bhamHeadImg {
    background-image: url('/Bham-pics/BirminghamALskyline_2_curtispalmer.jpg');
    height: 35em;
    max-width: 100%;
    background-size:cover;
    background-position-x: center;
    // background-position-y: 1.5em;
    h1 {
        font-family: 'Goudy Bookletter 1911', serif;
        font-size: 6em;
        color: white;
        text-align: center;
        padding-top: 2em;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: gray;
    }
}
.space {
    height: 1em;
    background-color: white;
}
.social {
    // background-color: #94d4af;
    .calendar {
        width: 25em;
        margin-left: auto;
        margin-right: auto;
        background-color: #f2f3f4;
        text-align: center;
        .panel-heading {
            font-family: 'Goudy Bookletter 1911', serif;
            text-transform: uppercase;
            font-size: 1.7em;
            font-weight: bold;
        }
        p {
            color: black;            
            padding: .5em 0;
        }
    }
}
.footer {
    border-top: 1px solid gray;
    background-color: black;
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: .8em;
    }
}
.carousel {
    .carousel-inner {
        max-height: 35em;
        .item {
            // height: 100%;
            img {
                max-height: 90%;
                width: auto;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

// Maps
.maps {
    height: 300px;
    width: 300px;
    display: inline-table;
    margin-top:.5em;
}

.mapContainer {
    display: inline-flex;
}

#directions-panel {
    height: 100%; 
    overflow: auto; 
}
// End of Maps

.avondale {
    margin-top:3.5em;
}

.avondaleBrewImg {
    margin:.5em;
    max-width:100%;
}

// Brew Pages
.brewInfo {
    background-color: #6A7073;
    color: #F9F7FA;
    border-radius: 6px;
    margin-top: .5em;
    // margin-right: .5em;
    text-align: center;
    font-family: Fjalla-One;
    font-weight: 400;
}

.contentTitles {
    font-family: Lora;
    font-weight: bold;
    font-style: italic;
    color: #EBF2EB;
}

#beerList {
    margin-right: .5em;
}