html {
  height: 400px;
}
body {
  height: 400px;
}
#gPMap {
  height: 300px;
  width: 300px;
}
#aBMap {
  height: 300px;
  width: 300px;
}
.mapContainer {
  margin-left: 60px;
  height: 300px;
  width: 300px;
}
.bhamHeadImg {
  background-image: url('/Bham-pics/BirminghamALskyline_2_curtispalmer.jpg');
  height: 25em;
  max-width: 100%;
  background-size: cover;
  background-position-x: center;
  background-position-y: 2.5em;
}
.avondaleBrewImg {
  margin: .5em;
  max-width: 100%;
}
