@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);
.beer-panel {
  margin: 1em 0;
  text-align: center;
  font-family: 'Raleway';
}
.beer-panel .head {
  padding: 0;
  margin: 0;
}
.beer-panel h3 {
  font-family: 'Goudy Bookletter 1911', serif;
}
.beer-panel p {
  text-align: left;
  color: black;
  padding: 0;
}
body {
  background-color: #CCCECF;
}
.app {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: #659572;
}
p {
  padding: 2em 0;
  font-family: Raleway;
  font-size: 1.2em;
  color: #f1f1f1;
}
.bhamHeadImg {
  padding-top: 0;
  margin-top: 0;
  background-image: url('/Bham-pics/BirminghamALskyline_2_curtispalmer.jpg');
  height: 100vh;
  background-size: cover;
  background-position-x: center;
}
.bhamHeadImg h1 {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 6em;
  color: white;
  text-align: center;
  padding-top: 2em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.intro {
  background-color: #efefef;
  text-align: center;
}
.intro p {
  color: black;
  text-align: left;
  padding: .5em .2em 0;
}
.intro .info-button {
  padding: 2em 0;
}
.intro .info-button a {
  position: relative;
  font-family: 'Goudy Bookletter 1911', serif;
  text-transform: uppercase;
  padding: 1.2em 3.6em;
  background-color: #659572;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}
.intro .info-button a:hover {
  background-color: #92b59b;
}
.space {
  height: 1em;
  background-color: white;
}
.social {
  text-align: center;
}
.social h2 {
  color: white;
  font-family: 'Goudy Bookletter 1911', serif;
}
.social .calendar {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f3f4;
}
.social .calendar .panel-heading {
  font-family: 'Goudy Bookletter 1911', serif;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: bold;
}
.social .calendar p {
  color: black;
  padding: .5em 0;
}
.social .twitter {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.footer {
  border-top: 1px solid gray;
  background-color: black;
}
.footer p {
  font-family: 'Times New Roman', Times, serif;
  font-size: .8em;
}
.carousel {
  height: 100%;
  text-align: center;
}
.carousel .carousel-inner {
  max-height: 40em;
}
.carousel .carousel-inner .item img {
  max-height: 90%;
  margin-right: auto;
  margin-left: auto;
}
.maps {
  height: auto;
  width: auto;
  margin-top: .5em;
}
#directions-panel {
  height: 100%;
  overflow: auto;
  width: 30em;
  background-color: #6A7073;
  border-radius: 5px;
  margin-top: 0.5em;
}
.avondale {
  margin-top: 3.5em;
}
.avondaleLogoImg {
  height: 14em;
  padding-right: 0.5em;
  max-width: 100%;
  cursor: pointer;
  margin-top: .5em;
}
.avondaleLogoImg2 {
  height: 14em;
  max-width: 100%;
  cursor: pointer;
  margin-top: .5em;
}
.avondaleBrewImg {
  margin: 0.5em;
  max-width: 100%;
  text-align: center;
}
.avondaleBackground {
  background-color: black;
  background-size: cover;
  background-position-x: center;
  background-position-y: 35%;
  max-width: 100%;
  height: 17em;
  margin-top: 0.5em;
  border-radius: 5px;
}
.avondaleArt {
  background-image: url("/Brewery-pics/ourstoryhero.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 35%;
  max-width: 100%;
  height: 40em;
  margin-top: 0.5em;
  border-radius: 5px;
}
#avondaleMapContainer {
  width: 47.75em;
  border-radius: 5px;
  background-color: #6A7073;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}
.trimTab {
  margin-top: 3.5em;
}
.trimTabImg {
  margin: 0.5em;
  max-width: 100%;
  padding-right: 5%;
}
.trimTabBackground {
  background-image: url("/Brewery-pics/trimTabCaroImg.jpg");
  background-position-x: 0%;
  background-position-y: 35%;
  height: 17em;
  margin-top: 0.5em;
  border-radius: 5px;
  text-align: right;
}
.trimTabTapRoomDiv {
  height: 17em;
  margin-top: 0.5em;
  padding-left: 0;
}
#trimTabTapImg {
  width: 100%;
  border-radius: 5px;
}
.trimTabMapContainer {
  width: 47.75em;
  border-radius: 5px;
  background-color: #6A7073;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}
.avondaleRoomDiv {
  height: 17em;
  margin-top: 0.5em;
  padding-left: 0;
}
.avondaleInfo {
  background-color: #6A7073;
  color: #F9F7FA;
  border-radius: 6px;
  margin: .5em;
  text-align: center;
  font-family: Fjalla-One;
  font-weight: 400;
}
.brewInfo {
  background-color: #6A7073;
  color: #F9F7FA;
  border-radius: 6px;
  margin-top: 0.5em;
  text-align: center;
  font-family: Fjalla-One;
  font-weight: 400;
}
.contentTitles {
  font-family: Lora;
  font-weight: bold;
  font-style: italic;
  color: #EBF2EB;
}
.brewList {
  margin-right: .5em;
}
.cahaba {
  margin-top: 3.65em;
}
#cahabaContent {
  padding-left: 8.5%;
}
#cahabaBrewList {
  margin-right: 1em;
  width: 49.8em;
  height: 17.20em;
}
#cahabaBeers {
  width: 26em;
  margin-top: 0.5em;
  border-radius: 5px;
}
.cahabaBrewInfo {
  background-color: #6A7073;
  color: #F9F7FA;
  border-radius: 6px;
  margin-top: 0.5em;
  text-align: center;
  font-family: Fjalla-One;
  font-weight: 400;
}
#imgContainer {
  text-align: center;
}
#logoBackground {
  background-image: url("/Brewery-pics/cahabaBrewBackgroundImg.jpg");
  background-size: cover;
  height: 17em;
  margin-top: 0.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#cahabaImg {
  width: auto;
  height: 10em;
  padding-left: 29em;
  max-width: 100%;
}
#cahabaTweets {
  width: 47.8em;
  height: 18em;
  margin-left: 2%;
}
#cahabaMapContainer {
  width: 46.5em;
  border-radius: 5px;
  background-color: #6A7073;
  margin-top: 0.5em;
  margin-right: 1.4em;
  padding-bottom: 0.5em;
}
#cahabaSocial {
  width: 26em;
  border-radius: 5px;
  margin-top: 0.5em;
  height: 19.5em;
}
#cahabaSocialEvents {
  width: 49.8em;
  height: 19.48em;
  margin-left: 7.5%;
}
#socialImg {
  padding-left: 0;
  padding-right: 0;
}
#cahabaTwitter {
  background-image: url("/Brewery-pics/beer-tops-twitter-background.jpg");
  background-size: cover;
  height: 18em;
  border-radius: 7px;
  padding-top: 5.5em;
  margin-top: 0.5em;
  text-align: center;
}
#twitterT {
  width: 7em;
  margin: 2px;
  background-color: #000000;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  #cahabaImg {
    padding-left: 40%;
    padding-top: 5%;
    margin-top: 11%;
  }
  #cahabaContent {
    padding-left: 12%;
  }
  #cahabaSocialEvents {
    width: 24.3em;
    height: 31.48em;
    margin-left: 0;
  }
  #cahabaBrewList {
    margin-left: 0;
    width: 24.5em;
    height: 17.20em;
  }
  #cahabaTweets {
    width: 24.5em;
    height: 30em;
    margin-left: 0;
  }
  #cahabaMapContainer {
    width: 24.5em;
    padding-top: 0.2em;
  }
  #directions-panel {
    width: 24.5em;
  }
}
.goodPeople {
  margin-top: 3.5em;
}
.goodPeopleImg {
  margin: 0.5em;
  max-width: 100%;
}
.goodPeopleBackground {
  background-image: url("/Brewery-pics/goodPeopleCaroImg.jpg");
  background-position-x: 0%;
  background-position-y: 25%;
  height: 17em;
  margin-top: 0.5em;
  border-radius: 5px;
  text-align: left;
}
.goodPeopleTapRoomDiv {
  height: 17em;
  margin-top: 0.5em;
  padding-left: 0;
}
#goodPeopleTapImg {
  width: 100%;
  border-radius: 5px;
}
.goodPeopleMapContainer {
  width: 47.75em;
  border-radius: 5px;
  background-color: #6A7073;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}
