@import "colors.less";
@import "variables.less";

// Maps
.maps {
    margin-top: 1.10%;
    height: 300px;
    width: 300px;
}

.mapContainer {
    display: inline-flex;
    align-content: right;
}

#directions-panel {
    width: 28%; 
    height: 100%; 
    overflow: auto; 
    padding: 0px 5px;
}
// End of Maps

.bhamHeadImg {
    background-image: url('/Bham-pics/BirminghamALskyline_2_curtispalmer.jpg');
    height: 25em;
    max-width: 100%;
    background-size:cover;
    background-position-x: center;
    background-position-y: 2.5em;
}
.avondaleBrewImg {
    margin:.5em;
    max-width:100%;
}

