@import "colors.less";
@import "variables.less";
@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);


body {
    background-color: #CCCECF;
}

.app {
    width: 100%;
    overflow: hidden;
    background-color: #7db78d;
}
.navbar {
    // background-color: transparent;
}
.welcome {
    height: 100%;
}
p {
    padding: 2em 0;
    font-family: Raleway;
    font-size: 1.2em;
    color: #f1f1f1;
}
.bhamHeadImg {
    background-image: url('/Bham-pics/BirminghamALskyline_2_curtispalmer.jpg');
    height: 35em;
    max-width: 100%;
    background-size:cover;
    background-position-x: center;
    // background-position-y: 1.5em;
    h1 {
        font-family: 'Goudy Bookletter 1911', serif;
        font-size: 6em;
        color: white;
        text-align: center;
        padding-top: 2em;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: gray;
    }
}
.space {
    height: 1em;
    background-color: white;
}
.social {
    // background-color: #94d4af;
    .calendar {
        width: 25em;
        margin-left: auto;
        margin-right: auto;
        background-color: #f2f3f4;
        text-align: center;
        .panel-heading {
            font-family: 'Goudy Bookletter 1911', serif;
            text-transform: uppercase;
            font-size: 1.7em;
            font-weight: bold;
        }
        p {
            color: black;            
            padding: .5em 0;
        }
    }
}
.footer {
    border-top: 1px solid gray;
    background-color: black;
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: .8em;
    }
}
.carousel {
    .carousel-inner {
        max-height: 35em;
        .item {
            // height: 100%;
            img {
                max-height: 90%;
                width: auto;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

// Maps
.maps {
    height: auto;
    width: auto;
    // display: inline-table;
    margin-top:.5em;
}

// .mapContainer {
//     display: inline-flex;
// }

#directions-panel {
    height: 100%; 
    overflow: auto;
    width: 30em;
    background-color: #6A7073;
    border-radius: 5px;
    margin-left: 0.5em;
    margin-top: 0.5em; 
}
// End of Maps

.avondale {
    margin-top:3.5em;
}

.avondaleBrewImg {
    margin:.5em;
    max-width:100%;
}

.trimTab{
    margin-top: 3.5em;
}

.trimTabImg {
    margin: 0.5em;
    max-width: 100%;
    padding-right: 5%;
}

.trimTabBackground {
    background-image: url("/Brewery-pics/trimTabCaroImg.jpg");
    // background-size: cover;
    background-position-x: 0%;
    background-position-y: 35%;
    height: 17em;
    // width: 25em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
    text-align: right;
}

#trimTabSocial {
    width: 26em;
    border-radius: 5px;
    margin-top: 0.5em;
}

.trimTabMapContainer {
    width: 47.75em;
    border-radius: 5px;
    background-color: #6A7073;
    // margin-left: 2.20em;
    margin-top: 0.5em;
    // margin-right: 0.65em;
    padding-bottom: 0.5em;
}

// Brew Pages
.brewInfo {
    background-color: #6A7073;
    color: #F9F7FA;
    border-radius: 6px;
    margin-top: .5em;
    // margin-right: .5em;
    text-align: center;
    font-family: Fjalla-One;
    font-weight: 400;
}

.contentTitles {
    font-family: Lora;
    font-weight: bold;
    font-style: italic;
    color: #EBF2EB;
}

.brewList {
    margin-right: .5em;
}

// Cahaba Brewing

.cahaba {
    margin-top: 6.5em;
}

#cahabaBrewList {
    margin-left: 1em;
    width: 54.20em;
    height: 17.20em;
}

#cahabaBeers {
    width: 26em;
    margin-top: 0.5em;
    border-radius: 5px;
}

.cahabaBrewInfo {
    background-color: #6A7073;
    color: #F9F7FA;
    border-radius: 6px;
    margin-top: 0.5em;
    margin-left: 0.5em;
    text-align: center;
    font-family: Fjalla-One;
    font-weight: 400;
}

#imgContainer {
    text-align: center;
}

#logoBackground {
    background-image: url("/Brewery-pics/cahabaBrewBackgroundImg.jpg");
    background-size: cover;
    // background-position-x: 45%;
    // background-position-y: 56%;
    height: 17em;
    // width: 25em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
}

#cahabaImg {
    
    width: auto;
    height:10em;
    padding-left: 29em;
    max-width: 100%;
}

#cahabaTweets {
    width: 40em;
}

#cahabaMapContainer {
    width: 47.75em;
    border-radius: 5px;
    background-color: #6A7073;
    margin-left: 2.20em;
    margin-top: 0.5em;
    margin-right: 0.65em;
    padding-bottom: 0.5em;
}

#cahabaSocial {
    width: 26em;
    border-radius: 5px;
    margin-top: 0.5em;
}

#cahabaSocialEvents {
    width: 53.75em;
    height: 19.48em;
}

#cahabaUntappd {
    width: 60.75em;
}

#cahabaUntappdImg {
    width: 15em;
}

#cahabaTweets {
    width: 52em;
    height: 17em;
    margin-left: 1em;
}

#cahabaTwitter {
    background-image: url("/Brewery-pics/beer-tops-twitter-background.jpg");
    background-size: cover;
    // background-position-x: 45%;
    // background-position-y: 56%;
    height: 17em;
    border-radius: 7px; 
    padding-top: 5.5em;
    margin-top: 0.5em;
    margin-left: 1.29em;
    text-align: center;    
}

#twitterT {
    width: 7em;
    margin: 2px;
    background-color: #000000;
    border-radius: 7px;
}
// #cahabaDirectionsPanel {
//     height: 100%;
//     overflow: auto;
//     width: 30em;
//     background-color: #6A7073;
//     border-radius: 5px;
//     margin-left: .5em;
//     margin-top: .5em;
    
// }

// <img class="irc_mi i7iNGJxdmBvc-pQOPx8XEepE" alt="" style="margin-top: 0px;" src="http://www.cahabariver.net/images/jfishrvr.jpg" width="524" height="393">

