<body class="avondale">
    <div class="row">
        <!--<div class="col-md-4 avondaleBrewImg"><img src="/Brewery-pics/avondaleBrewImg.png" alt=""></div>-->
        <div class="col-md-5 col-md-offset-4"><h2>Content and Social links and stuff here</h2></div>
        <div class="col-md-3"><h2>Calender<h2></div>
    </div>
    <div class="row">
        <div class="col-md-5"><h2>Beer list here</h2></div>
        <div class="col-md-4"><h2>Untapped ratings here</h2></div>
        <div class="col-md-3"><h2>Twitter feed here</h2></div>
    </div>
</body>