<div class="avondale">
    <div class="row">
        <div class="col-md-4"><img src="/Brewery-pics/avondaleLogo.png" alt="" class="avondaleBrewImg"></div>
        <div class="col-md-5 brewInfo"><h2 class="contentTitles">CONTENT AND SOCIAL LINKS AND STUFF HERE</h2>Some content
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            </div>
        <!--<div class="col-md-2"><h3>Event Calender<h3></div>-->
        <div class=" col-md-3 mapContainer">
            <div class="maps">
                <ng-map center="33.5245,-86.7742" zoom="10">
                    <marker position="33.5245,-86.7742" title="Avondale Brewery!"></marker>
                    <directions
                        draggable="true"
                        panel="directions-panel"
                        travel-mode="DRIVING"
                        origin="current-location"
                        destination="201 41st Street South Birmingham, AL 35222">
                    </directions>
                </ng-map>
                <div id="directions-panel"></div>
            </div>     
        </div>
    </div>
    <div class="row">
        <div id="beerList" class="col-md-4 brewInfo"><h2 class="contentTitles">BEER LIST HERE</h2>
            Some more content blah blah blah blah blah blah blah blah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahvblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            </div>
        <div class="col-md-5 brewInfo"><h2 class="contentTitles">UNTAPPED RATINGS HERE</h2>
            Even more content blah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahvblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            </div>
        <!--<div class="col-md-3"><h2>Twitter feed here</h2></div>-->
        <!--<div class="col-md-3" id="directions-panel"></div>-->
    </div>
</div>