<div class="cahaba">
    <div class="row">
        <div class="col-md-4"><img id="cahabaImg" src="//static1.squarespace.com/static/5357ef4de4b08e71d01a71c2/t/53629effe4b01d33ffb006f0/1460565595048/" alt="Cahaba Brewing"></div>
        <div class="col-md-5 brewInfo"><h2 class="contentTitles">CONTENT AND SOCIAL LINKS AND STUFF HERE</h2>
            Some content
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
        </div>
        <div class="col-md-3 mapContainer">
            <div class="maps">
                <ng-map center="33.5275183,-86.7654226" zoom="8">
                    <marker position="33.5275183,-86.7654226" title="Cahaba Brewery!"></marker>
                    <directions
                    draggable="true"
                    panel="directions-panel"
                    travel-mode="DRIVING"
                    origin="current-location"
                    destination="4500 5th Ave South Building C Birmingham, Alabama 35222">
                    </directions>
                </ng-map>
                <div id="directions-panel"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 brewList brewInfo"><h2 class="contentTitles">BEER LIST HERE</h2>
            Some more content blah blah blah blah blah blah blah blah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahvblah blah blah blah blah blah blahblah blah blah blah blah blah blah
        </div>
        <div class="col-md-5 brewInfo"><h2 class="contentTitles">UNTAPPED RATINGS HERE</h2>
            Even more content blah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahvblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
        </div>
    </div>
</div>

<!--<img src="//static1.squarespace.com/static/5357ef4de4b08e71d01a71c2/t/53629effe4b01d33ffb006f0/1460565595048/?format=1500w" alt="Cahaba Brewing">-->
