<div class="cahaba">
    <!--<div class="col-xs-12 hidden-md visible-xs cahabaPhotos">
        <img src="/Brewery-pics/CahabaBrewSocialEvents.jpg" alt="Cahaba Social Event" class="cahabaSlides">
        <img src="/Brewery-pics/cahabaBrewBeerImg.png" alt="Bahaba Brews" class="cahabaSlides">
        <img src="/Brewery-pics/cahabaBrewBackgroundImg.jpg" alt="Twitter brew tops" class="cahabaSlides">
    </div>-->
        <div id="imgContainer">
            <div id="logoBackground"><img id="cahabaImg" src="//static1.squarespace.com/static/5357ef4de4b08e71d01a71c2/t/53629effe4b01d33ffb006f0/1460565595048/" alt="Cahaba Brewing"></div>
        </div>
    
    <!--<div class="col-xs-12 hidden-md visible-xs cahabaPhotos">
        <img src="/Brewery-pics/CahabaBrewSocialEvents.jpg" alt="Cahaba Social Event" class="cahabaSlides">
        <img src="/Brewery-pics/cahabaBrewBeerImg.png" alt="Bahaba Brews" class="cahabaSlides">
        <img src="/Brewery-pics/cahabaBrewBackgroundImg.jpg" alt="Twitter brew tops" class="cahabaSlides">
    </div>-->
    <div id="cahabaContent">
        <div id="cahabaSocialContent">
            <div class="row">
                <div id="socialImg" class="col-md-3 hidden-sm visible-md visible-lg"><img id="cahabaSocial" src="/Brewery-pics/cahabaBrewSocialEvent.gif" alt="Cahaba Brew Social Events"></div>
                <div id="cahabaSocialEvents" class="col-md-9 cahabaBrewInfo"><h2 class="contentTitles">CONTENT AND SOCIAL LINKS AND STUFF HERE</h2>
                    Some content
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                </div>
            </div>
        </div>
            <!--<div class="col-md-3 mapContainer">
                <div class="maps">
                    <ng-map center="33.5275183,-86.7654226" zoom="8">
                        <marker position="33.5275183,-86.7654226" title="Cahaba Brewery!"></marker>
                        <directions
                        draggable="true"
                        panel="directions-panel"
                        travel-mode="DRIVING"
                        origin="current-location"
                        destination="4500 5th Ave South Building C Birmingham, Alabama 35222">
                        </directions>
                    </ng-map>
                    <div class="mapContainer" id="directions-panel"></div>
                </div>
            </div>-->
        <div id="cahabaBrewContent">
            <div class="row">
                <!--<div class="col-md-4"><img id="cahabaBeers" src="Brewery-pics/cahabaBrewBeerImg.png" alt=""></div>-->
                <div id="cahabaBrewList" class="col-md-8 cahabaBrewInfo"><h2 class="contentTitles">BEER LIST HERE</h2>
                    <!--Some more content blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahvblah blah blah blah blah blah blahblah blah blah blah blah blah blah-->
                    {{rating}}
                </div>
                <div class="col-md-4 hidden-sm visible-md visible-lg"><img id="cahabaBeers" src="Brewery-pics/cahabaBrewBeerImg.png" alt="Cahaba Beer Img"></div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-3"><img id="cahabaUntappdImg" src="/Brewery-pics/untappdImg.png" alt="untappd Img"></div>
            <div id="cahabaUntappd" class="col-md-9 cahabaBrewInfo"><h2 class="contentTitles">UNTAPPED RATINGS HERE</h2>
                Even more content blah blah blah blah blah blah blahblah blah blah blah blah blah blah
                blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                blah blah blah blah blah blah blahvblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
            </div>
        </div>-->
        <div id="cahabaTweetContent">
            <div class="row">
                <div id="cahabaTwitter" class="col-md-4 hidden-sm visible-md visible-lg"><img id="twitterT" src="Brewery-pics/twitter-symbol.jpg" alt=""></div>
                <div id="cahabaTweets" class="col-md-8 cahabaBrewInfo"><h2 class="contentTitles">EMBEDDED TWEETS</h2>
                    Even more content blah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahvblah blah blah blah blah blah blahblah blah blah blah blah blah blah
                    blah blah blah blah blah blah blahblah blah blah blah blah blah blahblah blah blah blah blah blah blah 
                </div>
                <!--<div id="cahabaTwitter" class="col-md-4"><img id="twitterT" src="Brewery-pics/twitter-symbol.jpg" alt=""></div>-->
            </div>
        </div>
        
        <div id="cahabaMapContent">
            <div class="row">
                <div id="cahabaMapContainer" class="col-md-8">
                    <div class="maps">
                        <ng-map center="33.5275183,-86.7654226" zoom="8">
                            <marker position="33.5275183,-86.7654226" title="Cahaba Brewery!"></marker>
                            <directions
                            draggable="true"
                            panel="directions-panel"
                            travel-mode="DRIVING"
                            origin="current-location"
                            destination="4500 5th Ave South Building C Birmingham, Alabama 35222">
                            </directions>
                        </ng-map>
                        <!--<div class="mapContainer" id="directions-panel"></div>-->
                    </div>
                </div>
                <div class="col-md-4 mapContainer" id="directions-panel"></div>
            </div>
        </div>
    </div>
</div>

<!--<img src="//static1.squarespace.com/static/5357ef4de4b08e71d01a71c2/t/53629effe4b01d33ffb006f0/1460565595048/?format=1500w" alt="Cahaba Brewing">-->
