<div class="cahaba">
        <div id="imgContainer">
            <div id="logoBackground"><img id="cahabaImg" src="//static1.squarespace.com/static/5357ef4de4b08e71d01a71c2/t/53629effe4b01d33ffb006f0/1460565595048/" alt="Cahaba Brewing">
                <div id="facebookIcon">
                    <a href="https://www.facebook.com/cahababrewingco">
                    <img src="/social-logos/asset.f.logo.lg.png" alt="Facebook Icon">
                    </a>
                </div>
            </div>
        </div>
    
    <div id="cahabaSocialContent">
        <div class="container">
            <div class="row">
                <div id="socialImg" class="col-md-3 hidden-sm visible-md visible-lg"><img id="cahabaSocial" src="/Brewery-pics/cahabaImgs/cahabaBrewSocialEvent.gif" alt="Cahaba Brew Social Events"></div>
                <div id="cahabaSocialEvents" class="col-md-9 brewInfo"><h2 class="contentTitles">JUMP ON IN</h2>
                    Cahaba Brewing Company was founded in the summer of 2011 by a group of friends united by their love of craft beer and home brewing. Together, they devised a 
                     plan to build a brewery in beautiful Birmingham, Alabama. From the beginning, Cahaba Brewing Company has had the goal of providing Birmingham with clean and 
                     consistent craft beers with a broad variety of flavors and styles. Cahaba found a new location and began the expansion process in early 2015. Celebrating "Last Pint Night" 
                     at the original 3rd Ave South location in mid-January 2016, the new 51,000 square foot building, located in the Historical Continental Gin. The new taproom offers a window looking 
                     into the production facility, a covered patio, and ample parking.The space is also flexible, offering multiple options for all varieties of private event needs such as weddings, 
                     reunions, corporate events, and birthday parties.
                     <img src="" alt="">
                </div>
            </div>
        </div>
      </div>
        
        
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat='beer in beers | limitTo: 8'>
                    <div class="panel cahaba beer-panel">
                        <div class="head"><h3>{{beer.beer.beer_name}}</h3></div>
                        <hr>
                        <div class="row panel-body">
                            <div class="col-xs-4"><img src="{{beer.beer.beer_label}}" alt="Beer Image"></div>
                            <div class="col-xs-8"><p>Style: {{beer.beer.beer_style}}</p></div>
                            <div class="col-xs-8"><p>abv: {{beer.beer.beer_abv}}</p></div>
                            <div class="col-xs-12">
                            <span><strong>Rating:</strong> <small>{{beer.beer.rating_score}}</small></span><span><strong>  Votes: </strong><small>{{beer.beer.rating_count}}</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
       
    <div id="cahabaMapContent">
        <div class="container">
            <div class="row">
                <div id="cahabaMapContainer" class="col-md-8">
                    <div class="maps">
                        <ng-map center="33.5275183,-86.7654226" zoom="8">
                            <marker position="33.5275183,-86.7654226" title="Cahaba Brewery!"></marker>
                            <directions
                            draggable="true"
                            panel="directions-panel"
                            travel-mode="DRIVING"
                            origin="current-location"
                            destination="4500 5th Ave South Building C Birmingham, Alabama 35222">
                            </directions>
                        </ng-map>
                    </div>
                </div>
                <div class="col-md-4 mapContainer" id="directions-panel"></div>
            </div>
        </div>
    </div>
</div>

