<div class="goodPeople">
    <div class="col-md-12 goodPeopleBackground"><a href="http://www.goodpeoplebrewing.com"><img src="/Brewery-pics/goodPeopleLogo.png" class="goodPeopleImg"></a></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 goodPeopleTapRoomDiv hidden-xs hidden-sm">
                <img id="goodPeopleTapImg" src="/Brewery-pics/tt_reserve_01.jpg" alt="Trim Tab Info">
            </div>
            <div class="col-md-8 brewInfo" id="goodPeopleInfo"><h2 class="contentTitles">Be Good People. Drink Good Beer.</h2>All we set out to do was make good beer to share with our friends. We never imagined that our passion for brewing would become a business. But, thousands of hours, hundreds      of hiccups, two abandoned day jobs, and one business license later, Good People Brewing Company was born, with the sale of our first keg on July 4, 2008, in our hometown of Birmingham, Alabama. And, so far, so good. Our offerings now include five year-round brews, four seasonals,        and an occasional one-off. Good People is now enjoyed by folks in Alabama and Tennessee, most of whom we don’t actually know yet. And, according to BeerAdvocate, a leading voice in the beer community, the four highest-rated beers in the South are ours. We’re honored that people seem     to think we know what we’re doing. See what you think. Give us a try.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat='beer in beers | limitTo: 8'>
                <div class="panel beer-panel">
                    <div class="head"><h3>{{beer.beer.beer_name}}</h3></div>
                    <hr>
                    <div class="row panel-body">
                        <div class="col-xs-4"><img src="{{beer.beer.beer_label}}" alt="Beer Image"></div>
                        <div class="col-xs-8"><p>Style: {{beer.beer.beer_style}}</p></div>
                        <div class="col-xs-8"><p>abv: {{beer.beer.beer_abv}}</p></div>
                        <div class="col-xs-12">
                        <span><strong>Rating:</strong> <small>{{beer.beer.rating_score}}</small></span><span><strong>  Votes: </strong><small>{{beer.beer.rating_count}}</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="goodMapContent">
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="goodPeopleMapContainer">
                    <div class="maps">
                        <ng-map center="33.5069388,-86.812197" zoom="10">
                            <marker position="33.5069388,-86.812197" title="Good People Brewery!"></marker>
                            <directions
                            draggable="true"
                            panel="directions-panel"
                            travel-mode="DRIVING"
                            origin="current-location"
                            destination="114 14th Street South Birmingham, AL 35233">
                            </directions>
                        </ng-map>
                    </div>
                </div>
                <div class="col-md-4 mapContainer gpdp" id="directions-panel"></div>
            </div>
        </div>
    </div>
</div>

