<h2>{{message}}</h2>

<div class="mapContainer">
    <div class="maps">
        <ng-map center="33.5128,-86.7909" zoom="8">
            <marker position="33.5128,-86.7909" title="Trim Tab Brewery!"></marker>
            <directions
            draggable="true"
            panel="directions-panel"
            travel-mode="DRIVING"
            origin="current-location"
            destination="2721 5th Ave S, Birmingham, Alabama  35233">
            </directions>
        </ng-map>
    </div>
    <div id="directions-panel"></div>
</div>

