<div class="trimTab">
    <div class="trimTabBackground"><a href="http://www.trimtabbrewing.com"><img src="/Brewery-pics/trimTabLogo.png" class="trimTabImg"></a></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 trimTabTapRoomDiv hidden-xs hidden-sm">
                <img id="trimTabTapImg" src="/Brewery-pics/gptaproom1.jpg" alt="Trim Tab Info">
            </div>
            <div class="col-md-8 col-xs-12 brewInfo" id="trimTabInfo"><h2 class="contentTitles">Gravitational Nectar</h2>It began with an idea. We all have the possibility of changing the world with the things we can affect. The small things matter and are responsible for the big impacts we want to see in our lives. Craft beer for us is a way to spread that message and is a way to extend an invitation to make our world a better, more inspired place to live. You are a Trimtab. We each have the ability to make huge lasting impacts on the world, most notably with the small things in our reach. Craft beer is our way to spread that idea and to support the people, organizations, and ideas that embody small sources of big change.
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="titles">Brews</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat='beer in beers | limitTo: 8'>
                <div class="panel trim-tab beer-panel">
                    <div class="head"><h3>{{beer.beer.beer_name}}</h3></div>
                    <hr>
                    <div class="row panel-body">
                        <div class="col-xs-4"><img src="{{beer.beer.beer_label}}" alt="Beer Image"></div>
                        <div class="col-xs-8"><p>Style: {{beer.beer.beer_style}}</p></div>
                        <div class="col-xs-8"><p>abv: {{beer.beer.beer_abv}}</p></div>
                        <div class="col-xs-12">
                        <span><strong>Rating:</strong> <small>{{beer.beer.rating_score}}</small></span><span><strong>  Votes: </strong><small>{{beer.beer.rating_count}}</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="titles">Directions</h1>
        <div class="row">
            <div class="col-md-8" id="trimTabMapContainer">
                <div class="maps">
                    <ng-map center="33.5128,-86.7909" zoom="8">
                        <marker position="33.5128,-86.7909" title="Trim Tab Brewery!"></marker>
                        <directions
                            draggable="true"
                            panel="directions-panel"
                            travel-mode="DRIVING"
                            origin="current-location"
                            destination="2721 5th Ave S, Birmingham, Alabama  35233">
                        </directions>
                    </ng-map>
                </div>
            </div>
            <div class="col-md-4 ttdp mapContainer" id="directions-panel"></div>
        </div>
    </div>
        <!--<div class="col-md-3"><h2>Twitter feed here</h2></div>-->
        <!--<div class="col-md-3" id="directions-panel"></div>-->
</div>
