<div class="bhamHeadImg">
        <div class="page-header">
            <h1>Bham Brews</h1>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>Birmingham, Alabama, has a rich brewing history dating back to the late 19th century, but it wasn’t until 2009 that the state government fully embraced the economic possibilities that craft brewing allow. Now, 7 years, later, Birmingham is home to 4 decorated craft breweries, each with its own story and culture. Bham Brews is proud to offer information on each of these business located in one convenient place. Whether you’re searching for products, or looking to see what events are being hosted on a given night, we’re confident you’ll find what you’re looking for here. Grab a cold pint and enjoy!  - Bham Brews Team</p>
            </div>
        </div>
    <!--CAROUSEL-->
    <div id="brewCarousel" class="carousel slide jumbotron"> 
        <!--Adjust the container class, look for others to make the image sizes consistent 
        and not have the prev and next buttons be so big when it is contained also find more
        caro images to make it bigger-->
        <div class="container"> 
            <ol class="carousel-indicators">
                <li class="active" data-target="#brewCarousel" data-slide-to="0"></li>
                <li data-target="#brewCarousel" data-slide-to="1"></li>
                <li data-target="#brewCarousel" data-slide-to="2"></li>
                <li data-target="#brewCarousel" data-slide-to="3"></li>
                <li data-target="#brewCarousel" data-slide-to="4"></li>
                <li data-target="#brewCarousel" data-slide-to="5"></li>
                <li data-target="#brewCarousel" data-slide-to="6"></li>
                <li data-target="#brewCarousel" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="Brewery-pics/goodPeopleCaroImg.jpg" alt="">                  
                </div>
                <div class="item">
                    <img src="Brewery-pics/avondaleCaroImg.jpg" alt="">
                </div>
                <div class="item">
                   <img src="Brewery-pics/trimTabCaroImg.jpg" alt="">
                </div>
                <div class="item">
                   <img src="Brewery-pics/avondaleBackground.png" alt="">
                </div>
                <div class="item">
                    <img src="Brewery-pics/brewing-1.jpg" alt="">
                </div>
                <div class="item">
                   <img src="Brewery-pics/brewing-3.jpg" alt="">
                </div>
                <div class="item">
                   <img src="Brewery-pics/brewing-4.jpg" alt="">
                </div>
                <div class="item">
                   <img src="Brewery-pics/hopsdude.jpg" alt="">
                </div>
            </div>    
        </div> 
        <div class="left carousel-control" data-target="#brewCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </div>
        <div class="right carousel-control" data-target="#brewCarousel" data-slide="next">
            <span class="icon-next"></span>
        </div>
    </div>
    <!--END OF CAROUSEL-->