<body>
    <!--CAROUSEL-->
    <div id="myCarousel" class="carousel slide jumbotron"> 
        <div class="container">
            <ol class="carousel-indicators">
                <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
        
            
            <div class="carousel-inner">
                
                <div class="item active">
                    <h1>Good People</h1>
                    <p class="lead">hello insert copy here</p>
                    </p>
                </div>
                
                <div class="item">
                    <h1>Avondale</h1>
                    <p class="lead">hello hello</p>
                </div>
                
                <div class="item">
                   <h1>Trim Tab</h1>
                   <p class="lead">afdahfkadf</p>
                </div>
                
                <div class="item">
                   <h1>Cahaba</h1>
                   <p class="lead">afdahfkadf</p>
                </div>
                
            </div>    
        </div> 
        
        <a class ="left carousel-control"href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class ="right carousel-control"href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
        
    </div>
</body>