<div class="bhamHeadImg" id="bhamHeadImg">
    <h1>Bham Brews</h1>
    <!--<div class="scroll">Scroll Down, pls</div>-->
</div>

<!--beer panels-->
<!--<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat='beer in beers | limitTo: 8'>
            <div class="panel beer-panel">
                <div class="head"><h3>{{beer.beer.beer_name}}</h3></div>
                <hr>
                <div class="row panel-body">
                    <div class="col-xs-4"><img src="{{beer.beer.beer_label}}" alt="Beer Image"></div>
                    <div class="col-xs-8"><p>Style: {{beer.beer.beer_style}}</p></div>
                    <div class="col-xs-8"><p>abv: {{beer.beer.beer_abv}}</p></div>
                    <div class="col-xs-12">
                        <span><strong>Rating:</strong> <small>{{beer.beer.rating_score}}</small></span><span><strong>  Votes: </strong><small>{{beer.beer.rating_count}}</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--End of beer panels-->
<div class="intro">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p>Birmingham, Alabama, has a rich brewing history dating back to the late 19th century, but it wasn’t until 2008 that the state government fully embraced the economic possibilities that craft brewing allows. Now, 8 years later, Birmingham is home to 4 decorated craft breweries, each with its own story and culture. Bham Brews is proud to offer information on each of these businesses located in one convenient place. Whether you’re searching for products, or looking to see what events are being hosted on a given night, we’re confident you’ll find what you’re looking for here. Grab a cold pint and enjoy!  - Bham Brews Team</p>
        </div>
    </div>
    <div class="info-button">
        <a href="" ng-click="getEvents()">See News and Events</a>
    </div>
</div>
    
<!--CAROUSEL-->
<div id="brewCarousel" class="carousel slide jumbotron"> 
    <!--Adjust the container class, look for others to make the image sizes consistent 
    and not have the prev and next buttons be so big when it is contained also find more
    caro images to make it bigger-->
    <div class="container">
        <ol class="carousel-indicators">
            <li class="active" data-target="#brewCarousel" data-slide-to="0"></li>
            <li data-target="#brewCarousel" data-slide-to="1"></li>
            <li data-target="#brewCarousel" data-slide-to="2"></li>
            <li data-target="#brewCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <a href="#/goodppl">
                    <img src="Brewery-pics/goodPeopleCaroImg.jpg" alt="">
                    <div class="carousel-caption">
                        <h2>Good People Brewing Co.</h2>
                    </div>
                </a>                  
            </div>           
            <div class="item">
                <a href="#/avondale">
                    <img src="Brewery-pics/avondaleCaroImg.jpg" alt="">
                    <div class="carousel-caption">
                        <h2>Avondale Brewing Co.</h2>
                    </div>
                </a>
            </div>           
            <div class="item">
                <a href="#/trimtab">
                    <img src="Brewery-pics/trimTabCaroImg.jpg" alt="">
                    <div class="carousel-caption">
                        <h2>TribTab Brewing Co.</h2>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#/cahaba">
                    <img src="Brewery-pics/cahabaBrewBeerImg.png" alt="">
                    <div class="carousel-caption">
                        <h2>Cahaba Brewing Co.</h2>
                    </div>
                </a>
            </div>           
        </div>    

    </div> 
    <div class="left carousel-control" data-target="#brewCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </div>
    <div class="right carousel-control" data-target="#brewCarousel" data-slide="next">
        <span class="icon-next"></span>
    </div>
</div>
    <!--END OF CAROUSEL-->
    
<!--<div class="space"></div>-->
<div class="social">
    <h2>What's Happening</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel calendar">
                <div class="panel-heading">Calendar</div>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Good People Events</h2>
                        <div class="panel-body" ng-repeat='event in goodEvents | limitTo:6'>
                            <p><strong><a href="{{event.short_url}}">{{event.summary}}</a></strong></p>
                        </div>    
                    </div>
                    <div class="col-sm-6">
                        <h2>Avondale Events</h2>
                        <div class="panel-body" ng-repeat='event in avEvents | limitTo:6'>
                            <p><strong>{{event.starttime | date: 'short'}}</strong></p>
                            <p><strong><a href="{{event.eventlink}}">{{event.title}}</a></strong></p>
                        </div>    
                    </div> 
                </div>      
            </div>
        </div>
        <div class="col-md-6">
            <div class="twitter">
                <a class="twitter-timeline" height="900" href="https://twitter.com/Jak3C/lists/bham-brews" data-widget-id="724628247011577857">Tweets from https://twitter.com/Jak3C/lists/bham-brews</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>